@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext');
@font-face{
	font-family: "Arca";
	src: url('../fonts/Arca-Heavy.ttf');
}
$section-title-color: #3772a7;
body, html{
	width:100vw;
	font-family: 'Didact Gothic', sans-serif;
}
header{
	font-family: "Arca";
	height:377px;
	background-image: url('../images/header_bg.jpg');
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width:100vw;
	.header-icons{
		display:flex;
		width:400px;
		justify-content: space-between;
		a{
			padding:12px;	
			&:hover{
				border: 1px solid #384877;
				background-color: rgba(24,39,72,.53);
			}
		}
	}
	h1{
		color:#FFFFFF;
	}
}
.content-wrapper{
	width:100vw;
	.centered-content{
		width:960px;
		margin:0 auto;
		section{
			margin-bottom:20px;
			&:first-child{
				margin-top:10px;
			}
			h2{
				margin:0px 0 0 0;
				font-size: 2rem;
				color: $section-title-color;
			}
			.content{
				.content-title{
					font-size:1.6rem;
				}
				h3{
					margin:5px 0 0 0;
					text-transform: uppercase;
				}
				p{
					margin:6px 0 0 0;
				}
				ul{
					margin:5px 0 0 23px;
					padding:0;
					font-size:1.2rem;
					li{

					}
				}
			}
		}

	}
}